# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data / datasets
*.csv
*.npy
*.npz
data/

# COCO dataset (images + annotations — too large for git)
val2017/
train2017/
test2017/
annotations/

# Model weights
*.pth
*.pt

# Book PDFs (copyright — keep local only)
*.pdf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
